body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #b8b8b8;
    background-color: #1c1c1c;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 2rem;
}

h1 {
    color: #b5e853;
    font-size: 2.5rem;
}

.github-link {
    text-align: center;
    margin-bottom: 2rem;
}

.github-link a {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
}

.app-description {
    text-align: center;
    margin-bottom: 2rem;
}

.app-screenshots {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.app-screenshots img {
    width: 30%;
    border-radius: 10px;
}

.features {
    margin-bottom: 2rem;
}

.features h2, .design-by h2 {
    color: #b5e853;
}

.features ul {
    list-style-type: none;
    padding-left: 0;
}

.features li::before {
    content: ">>";
    color: #b5e853;
    margin-right: 0.5rem;
}

.design-by {
    margin-bottom: 2rem;
}

.app-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.store-link {
    display: inline-block;
    transition: transform 0.3s ease;
}

.store-link:hover {
    transform: scale(1.05);
}

.store-badge {
    height: 50px; /* Adjust this value based on the actual size of your images */
    width: auto;
}

footer {
    text-align: center;
    font-size: 0.8rem;
}

a {
    color: #63c0f5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.app-demo {
    margin: 2rem 0;
}

.dice-roller {
    background-color: #2a2a2a;
    border-radius: 10px;
    padding: 15px;
    max-width: 300px;
    margin: 0 auto;
}

.dice-selector {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 15px;
}

.dice-btn {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dice-btn:hover, .dice-btn.selected {
    background-color: #b5e853;
    color: #000;
}

#roll-results {
    background-color: #1c1c1c;
    color: #b5e853;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2rem;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#roll-results {
    background-color: #1c1c1c;
    color: #b5e853;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2rem;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#roll-history {
    font-size: 0.9rem;
    color: #888;
    margin-bottom: 5px;
}

#current-roll {
    font-weight: bold;
}